<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ABCAPOS.ReportEDS.Properties.Settings.ABCAPOSConnectionString"
            connectionString="Data Source=.\sqlexpress2012;Initial Catalog=ABCAPOSony;User ID=sa;Password=12345;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>