<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ABCAPOS.EDS.Properties.Settings.ABCAPOSConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=ABCAPOS;User ID=dba;Password=Password123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>